* {
  box-sizing:border-box
}
/* .roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

body{
    display:flex;
    flex-direction: column;
    margin: 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 100%;
    max-width: 100%;
    background-color: #1F2937;
    font-family: "Roboto", sans-serif;
}

.section1{
    background-color: #1F2937;
    font-family: 'Roboto';
    color: #E5E7EB;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    padding: 0px 300px 0px 300px;
    /* min-width: 100%; */
}

.section2{
    background-color: white;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 0px 300px 100px 300px;
}

.section2 p{
    padding: 0px 16px 0px 16px;
    margin: 46px 0px 46px 0px;
}

.section3{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    min-width: 100%;
    text-align: center;
    /* font-family: "Roboto", sans-serif; */
    padding: 0px 300px 0px 300px;
    font-weight: 100;
}

.section3 p{
    font-weight: 100;
    font-family: "Roboto", sans-serif;
}

.section3 .sec3Content{
    display: flex;
    flex-direction: column;
    /* padding:  */
    font-weight: 100;
    margin: 125px 0px;
    padding: 0px 75px;
}

.section3 .sec3Content .quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight:100;
    /* padding: 50px 100px 0px 100px; */
    margin: 0px;
    text-align: start;
}

.section3 .sec3Content .author{
    font-weight: bold;
    align-self: flex-end;
    justify-self: end;
    margin: 0px 72px;
}

.section4{
    background-color: white;
    min-width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 0px 300px 0px 300px;
}

.header{
    color: #F9FAF8;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin: 24px 0px;
    font-weight:bolder;
}

.logo{
    Height: 50px;
    width: 200px;
}

.footer{
    background-color: #1F2937;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #E5E7EB;
    padding: 0px 200px 0px 200px;
}

.heroText{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

.headerLinks{
    display: flex;
    gap: 24px;
    font-weight: 500;
}

.headerLinks a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    
}

.card1, .card2, .card3, .card4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8a8a8a;
    font-size: 16px;
    text-align: center;
    width: 200px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-wrap: wrap;
    align-items: baseline;
    gap:0px;
}

.cards p{
    margin: 8px;
    padding: 0px;
}

.cards img{
    width: 175px;
    height: 200px;
    border: solid #3882F6;
}

.underHeader{
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 24px;
    align-content:stretch;
    justify-content: space-between;
}

.underHeader p{
    margin: 0px;
    display: flex;
    /* flex-wrap: wrap; */
    text-wrap:wrap;
}

.underHeader img{
    width: 400px;
    padding: 100px 0px 100px 0px;
}

.underHeaderText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 16px;
    max-width: 50%;
}

.underHeader button{
    background-color: #3882F6;
    color: #F9FAF8;
    text-align: center;
    height: 40px;
    width: 140px;
    padding: 20px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}